<button class="hamburger" (click)="toggleNav()">
  <span class="hamburger__box">
    <span class="hamburger__inner"></span>
  </span>
</button>
<div class="nav u-background-primary">
  <div class="nav__link u-text--link--light">
    <button class="link__button" mat-button [routerLink]="[routes.userProfile]" (click)="closeNav()">Profile</button>
  </div>
  <div class="nav__link u-text--link--light">
    <button class="link__button" mat-button [routerLink]="[routes.skills]" (click)="closeNav()">Skills</button>
  </div>
  <div class="nav__link u-text--link--light">
    <button class="link__button" mat-button [routerLink]="[routes.usersList]" (click)="closeNav()">Users list</button>
  </div>
  <div class="nav__link u-text--link--light profile__wrapper">
    <img
      class="admin__badge"
      alt="Admin"
      title="Admin"
      src="../../../../../assets/icons/medal.svg"
      *ngIf="(currentUser$ | async)?.role === adminRole"
    />
    <span class="link__button" [routerLink]="[routes.userProfile]" (click)="closeNav()" *ngIf="currentUser$ | async"
      >Logged as: {{ (currentUser$ | async).email }}</span
    >
  </div>
  <div class="nav__link theme__wrapper u-text--link--light">
    <button class="link__button" mat-button (click)="toggleTheme()">
      <img src="../../../../../assets/icons/moon_white.svg" alt="Theme toggle" class="u-theme--white-icon" />
      <img src="../../../../../assets/icons/moon_black.svg" alt="Theme toggle" class="u-theme--black-icon" />
    </button>
  </div>
  <div class="nav__link u-text--link--light logout__wrapper">
    <button class="link__button" mat-button (click)="logout()">Logout</button>
  </div>
</div>
