<button class="hamburger" (click)="toggleNav()">
  <span class="hamburger__box">
    <span class="hamburger__inner"></span>
  </span>
</button>
<div class="nav u-background-primary">
  <div class="nav__link u-text--link--light">
    <button mat-button [routerLink]="[routes.userProfile]" (click)="toggleNav()">Profile</button>
  </div>
  <div class="nav__link u-text--link--light">
    <button mat-button [routerLink]="[routes.skills]" (click)="toggleNav()">Skills</button>
  </div>
  <div class="nav__link u-text--link--light">
    <button mat-button [routerLink]="[routes.usersList]" (click)="toggleNav()">Users list</button>
  </div>
  <div class="nav__link u-text--link--light">
    <button mat-button (click)="toggleTheme()">Change theme</button>
  </div>
  <div class="nav__link u-text--link--light"><button mat-button (click)="logout()">Logout</button></div>
</div>
