@import '../../../../../styles/mixins';
@import '../../../../../styles/variables';

.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$hamburger-height});
  justify-content: flex-start;
  padding: 15px;
  position: absolute;
  text-align: center;
  top: $hamburger-height;
  width: 100%;

  .profile__introduction {
    text-align: left;
  }

  .skill_title {
    align-self: center;
    display: inline-block;
    padding: 5px 5px 5px 0;
    width: 200px;
  }

  .level__wrapper {
    padding: 10px 0;
  }

  .category__button {
    width: 100%;

    &:hover {
      color: $pgs;
    }
  }

  .progress__bar {
    width: 50%;
  }

  .button--edit {
    margin-bottom: 10px;
  }

  .button--edit,
  .button--delete {
    display: block !important;
  }

  @include break(map-get($breakpoints, md)) {
    flex-direction: row;
    height: calc(100vh - #{$nav-height});
    margin: 0 auto;
    position: static;
    width: 50vw;

    .profile__wrapper {
      padding-right: 20px;
    }
  }
}
