<div class="container">
  <div class="profile__wrapper">
    <div class="profile__introduction">
      <h1>Hello {{ userDetails.email }}</h1>
      <h2>You are junior in {{ progress.junior }}</h2>
      <h2>You are middle in {{ progress.middle }}</h2>
      <h2>You are senior in {{ progress.senior }}</h2>
      <h3>Fill up your skills below</h3>
    </div>
    <div class="profile__skills">
      <div class="skills__titles">
        <div class="skill_title" *ngFor="let category of data">
          <button mat-stroked-button color="primary" (click)="chooseCategory(category.subCategories)">{{ category.title }}</button>
        </div>
        <app-skills *ngIf="skillVisibility" [categoryData]="chosenCategories" (hide)="hideSkill()"></app-skills>
      </div>
    </div>
  </div>
</div>
