@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login__container {
        width: 70%;
        height: 400px;
        background-color: $gray;
        position: relative;
        border-radius: $boxBorderRadius;

        .login__header {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
        }

        .login__form {
            height: 50%;
            width: 100%;
            @include absoluteCenteredVertivally;

            .form__control {
                display: block;
                margin: 5px auto 5px auto;
            }

            .form__input {
                width: 75%;
            }
        }

        .login__messages {
            width: 100%;
            position: absolute;
            bottom: 5%;
            left: 0;
            padding: 15px;
            text-align: center;
        }
    }
}



@include break(map-get($breakpoints, md), '.container'){
    .login__container{
        width:350px;
    }
}
