.container {
  height: 100%;
  margin: 0;
  padding: 24px 10px 10px;
  text-align: center;
  width: 100%;
}

.button__wrapper {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
}

.light {
  background-color: #fff;
  color: #000;
}

.dark {
  background-color: #323232;
  color: #fff;
}
