<div [className]="data.classToApply + ' container'" mat-dialog-content>
  <h1>Deleting user</h1>
  <p>{{ data.caption }}</p>
  <div class="button__wrapper">
    <button class="accept__button" mat-raised-button color="primary" (click)="onAccept(data.id)" [disabled]="isDeleting">
      <span *ngIf="!isDeleting; else spinner">Yes</span
      ><ng-template #spinner><mat-spinner [diameter]="35" color="warn"></mat-spinner></ng-template>
    </button>
    <button mat-raised-button color="warn" (click)="onDecline()">No</button>
  </div>
</div>
