@mixin absoluteCenteredVertivally {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}
@mixin break($breakpoint) {
    @media only screen and (min-width: $breakpoint) {
        @content
    }
}
