@import './variables';
@import '~@angular/material/theming';

.u-text--link {
  color: $link;

  &:hover {
    cursor: pointer;
  }
}

.u-text--bold {
  font-weight: 700;
}

.u-text--black {
  color: #000;
}

.u-text--to-hover {
  color: mat-color(mat-palette($mat-indigo));
}

.u-text--hover {
  &:hover {
    color: mat-color(mat-palette($mat-indigo));
  }
}

.u-text--link--light {
  color: $light-link;

  &:hover {
    cursor: pointer;
  }
}

.u-text--error {
  color: $warn;
}

.u-background-primary {
  background-color: mat-color(mat-palette($mat-indigo));
}

.dark-theme {
  .u-text--link {
    color: mat-color(mat-palette($mat-pink));
  }

  .u-text--to-hover {
    color: mat-color(mat-palette($mat-pink));
  }

  .u-text--hover {
    &:hover {
      color: mat-color(mat-palette($mat-pink));
    }
  }

  .u-background-primary {
    background-color: mat-color(mat-palette($mat-pink));
  }
}
