// Colors
$primary: #ebffde;
$secondary: #afe0ce;
$accent: #9984b5;
$link: #402f5a !default;
$gray: #f2f2f2 !default;
$warn: #f00;
$blur-color: #9dcca9;

// Values
$input-width: 75%;
$box-border-radius: 15px;

// Breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;
