// Colors
$primary: #593880;
$secondary: #806d38;
$accent: #5f8038;
$link: #402F5A !default;
$gray: #F2F2F2 !default;
$warn: red;
$boxBorderRadius: 10px;

// Breakpoints
$breakpoints: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px) !default;
