// Colors
$link: #6d2fca;
$light-link: #f7f1ff;
$gray: #f2f2f2;
$black: #000;
$warn: #ff464b;
$accept: #080;
$pgs: #ff6b44;
$blur-color: rgba(112, 112, 112, 0.5);
$nav-background: #777;
$hamburger-line: #000;
$hamburger-height: 50px;
$app-pink: #e91e63;
$app-indigo: #3f51b5;

// Values
$input-width: 75%;
$box-border-radius: 15px;
$nav-height: 75px;

// Breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;
