@import '../../../../../styles/mixins';
@import '../../../../../styles/variables';

.container {
  min-height: 100vh;
  @include center-one-element(column);

  .profile__credentials {
    background-color: #fff;
    border-radius: $box-border-radius;
    @include center-one-element(column);
    @include form-shadow($blur-color);
    justify-content: flex-start;
    padding: 10px;
    width: 75%;
  }

  .profile__photo {
    height: 150px;
    width: 150px;
  }

  .photo__inner {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }

  .profile__name {
    font-size: 2rem;
  }

  @include break(map-get($breakpoints, sm)) {
    .profile__credentials {
      width: 300px;
    }
  }
}
