@import '../../../../../styles/mixins';
@import '../../../../../styles/variables';

.container {
  min-height: 100vh;
  @include center-one-element(column);

  .profile__wrapper {
    background-color: #fff;
    border-radius: $box-border-radius;
    padding: 10px;
    width: 75%;
    @include form-shadow($blur-color);
  }

  .profile__introduction {
    text-align: center;
  }

  .profile__photo {
    height: 150px;
    margin: 0 auto;
    width: 150px;
  }

  .photo__inner {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }

  .profile__name {
    font-size: 2rem;
  }

  .levels {
    display: block;
  }

  .current-level {
    &:hover {
      color: $pgs;
      cursor: pointer;
    }
  }

  .seniority {
    padding: 10px 0;
  }

  .spinner {
    margin: auto;
  }

  @include break(map-get($breakpoints, sm)) {
    .profile__wrapper {
      width: 300px;
    }
  }
}
