@import '../../../../../styles/mixins';
@import '../../../../../styles/variables';

.back__button {
  background-color: $gray;
  color: #000;
  height: 50px;
  left: 15px;
  position: absolute;
  top: 15px;
  width: 50px;
}

.container {
  min-height: calc(100vh - #{$hamburger-height});
  padding: $hamburger-height 0;
  @include center-one-element(column);

  .profile__wrapper {
    border-radius: $box-border-radius;
    padding: 10px;
    width: 75%;
    @include form-shadow($blur-color);
  }

  .options__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .profile__introduction {
    padding: 20px 0;
    text-align: center;
  }

  .profile__photo {
    height: 150px;
    margin: 0 auto;
    width: 150px;
  }

  .photo__inner {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }

  .profile__name {
    font-size: 2rem;
  }

  .profile__role {
    font-weight: bold;
  }

  .seniority__header,
  .seniority__caption {
    padding: 5px 0;
  }

  .levels {
    display: block;

    .top__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .seniority__title,
    .icon__wrapper {
      width: fit-content;
    }

    .icon__wrapper {
      align-items: center;
      display: flex;
      flex-direction: row;
    }

    .comment__amount {
      font-size: 0.8rem;
    }

    .comment__icon {
      margin-left: 3px;
      width: 16px;
    }
  }

  .current-level {
    &:hover {
      color: $pgs;
      cursor: pointer;
    }
  }

  .seniority {
    padding: 10px 0;
  }

  .spinner {
    margin: auto;
  }

  @include break(map-get($breakpoints, sm)) {
    min-height: calc(100vh - #{$nav-height});
    position: static;

    .back__button {
      top: calc(15px + #{$nav-height});
    }

    .profile__wrapper {
      width: 300px;
    }
  }
}
@include break(map-get($breakpoints, sm)) {
  .back__button {
    left: 15px;
    position: absolute;
    top: calc(15px + #{$nav-height});
  }
}
