<div class="container">
  <div class="login__container">
    <div class="login__header">
      <h2>Login</h2>
    </div>
    <form (ngSubmit)="sendCredentials()" class="login__form" [formGroup]="loginForm">
      <mat-form-field class="form__control form__input">
        <input class="email__field" placeholder="Email" formControlName="email" type="text" matInput />
      </mat-form-field>
      <div *ngIf="email.invalidControl" class="form__error u-text--error mat-body">
        <div *ngIf="email.errors.required">
          Email is required.
        </div>
        <div *ngIf="email.errors.email">
          Email is invalid.
        </div>
      </div>
      <mat-form-field class="form__control form__input">
        <input class="password__field" placeholder="Password" formControlName="password" type="password" matInput />
      </mat-form-field>
      <div *ngIf="password.invalidControl" class="form__error u-text--error mat-body">
        <div *ngIf="password.errors.required">
          Password is required.
        </div>
        <div *ngIf="password.errors.minlength">
          Password must be at least 6 characters long.
        </div>
      </div>
      <app-submit-button [loading]="loginForm.disabled" [disabled]="loginForm.ableToSend">Login</app-submit-button>
    </form>
    <div class="login__messages">
      <div class="login__caption">
        <span [routerLink]="[routes.register]" class="mat-body u-text--link"> No account yet? Register here</span>
      </div>
    </div>
  </div>
</div>
