<div class="container">
  <div class="comments__wrapper">
    <div class="sub-categories__wrapper">
      <mat-form-field *ngIf="category">
        <mat-select [(ngModel)]="chosenSubCat">
          <mat-option *ngFor="let subCat of category.subCategories" [value]="subCat">{{ subCat.title }}</mat-option>
        </mat-select>
      </mat-form-field>
      <app-level-select class="level__select" (chooseLevel)="chooseLevel($event)"></app-level-select>
      <h1>{{ chosenSubCat.title }}</h1>
    </div>
    <app-comments
      [description]="chosenSubCat.levels[chosenLevel]"
      [level]="chosenLevel"
      [userId]="userId"
      [catTitle]="category.title"
      [subCatTitle]="chosenSubCat.title"
    ></app-comments>
  </div>
</div>
