<div class="container">
  <button class="back__button" mat-icon-button [routerLink]="[routes.skills]">Back</button>
  <div class="header">
    <h2 class="header__text">{{ catTitle }}</h2>
    <h4 class="header__level-switch">
      Currently displaying requirements for <app-level-select (chooseLevel)="chooseLevel($event)"></app-level-select>
    </h4>
  </div>
  <div class="table" *ngIf="contentLoaded">
    <div class="table__column table__labels">
      <div
        class="table__row table__label"
        [ngClass]="{ 'u-text--black': i === 0 }"
        (click)="chooseSubCategory(subCat, i)"
        *ngFor="let subCat of subCategories; index as i"
      >
        {{ subCat.title }}
      </div>
    </div>
    <div
      (click)="setSkill(currentlyDisplayedLevel)"
      class="table__column table__content"
      [ngClass]="{ 'content--active': levels[currentlyDisplayedLevel] }"
    >
      <div class="table__row" *ngIf="clickable; else spinner">
        {{ chosenSubCat.levels[currentlyDisplayedLevel] }}
      </div>
      <ng-template #spinner><mat-spinner class="table__spinner"></mat-spinner></ng-template>
    </div>
  </div>
</div>
