@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';
@import '~@angular/material/theming';

.container {
  min-height: 100vh;
  padding: 25px;
  user-select: none;

  .back__button {
    background-color: $gray;
    color: #000;
    height: 50px;
    left: 15px;
    position: absolute;
    top: 15px;
    width: 50px;
  }

  .header {
    text-align: center;
  }

  .table {
    border-right: 0;
    display: grid;
    grid-template-areas: 'labels content';
    grid-template-columns: repeat(2, 50%);
    min-width: 300px;
    @include form-shadow($blur-color);
  }

  .table__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .content--active {
    color: $accept;
  }

  .table__labels {
    grid-area: labels;
  }

  .table__content {
    grid-area: content;

    .table__spinner {
      margin: auto;
    }
  }

  .table__row {
    border-collapse: separate;
    display: block;
    height: fit-content;
    padding: 10px 5px;

    &:hover {
      cursor: pointer;
    }
  }

  @include break(map-get($breakpoints, md)) {
    margin: 0 auto;
    width: 50vw;
  }
}
