@import './styles/variables';
@import './styles/utilities';
@import './styles/mixins';
@import './styles/theme';

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Regular.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: Roboto, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}
