<button class="header" mat-stroked-button (click)="tableToggle()">
  {{ subCategory.title }}
</button>
<div *ngIf="tableVisibility" class="skill__table">
  <div class="table__row table__headers">
    <div class="table__column ">Junior</div>
    <div class="table__column ">Middle</div>
    <div class="table__column ">Senior</div>
  </div>
  <div class="table__row">
    <div class="table__column table__content" [ngClass]="{'content--active': levels.junior}" (click)="changeSkillLevel('junior')">
      {{ subCategory.levels.junior }}
    </div>
    <div class="table__column table__content" [ngClass]="{ 'content--active': levels.middle}" (click)="changeSkillLevel('middle')">
      {{ subCategory.levels.middle }}
    </div>
    <div class="table__column table__content" [ngClass]="{ 'content--active': levels.senior}" (click)="changeSkillLevel('senior')">
      {{ subCategory.levels.senior }}
    </div>
  </div>
</div>
