<button mat-raised-button class="header" (click)="tableToggle()" >
    {{ subCategory.title }}
</button>
<div *ngIf="tableVisibility" class="skill__table">
    <div class="table__row">
        <div class="table__column table__label">Junior</div>
        <div class="table__column table__label">Middle</div>
        <div class="table__column table__label">Senior</div>
    </div>
    <div class="table__row">
        <div class="table__column">{{subCategory.levels.junior}}</div>
        <div class="table__column">{{subCategory.levels.middle}}</div>
        <div class="table__column">{{subCategory.levels.senior}}</div>
    </div>
</div>
