@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.container {
  min-height: 100vh;
  @include center-one-element(column);

  .users__header {
    text-align: center;
  }

  .users__list {
    width: 75%;
    @include center-one-element();
  }

  .users__table {
    width: 100%;
  }

  .mat-header-row {
    background-color: $gray;
  }

  .mat-header-cell {
    color: #000;
  }

  .users__header,
  .users__nav {
    margin: 0 auto 10px;
    padding-top: 10px;
    width: 80%;
  }

  .users__nav {
    @include center-one-element(column);
  }

  .nav__link {
    display: inline-block;
    margin-bottom: 10px;
  }

  @include break(map-get($breakpoints, md)) {
    min-height: calc(100vh - #{$nav-height});

    .users__table {
      width: 60%;
    }
  }
}
