@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.container {
  height: 100vh;

  .users__header {
    text-align: center;
  }

  .users__list {
    width: 75%;
    margin: auto;
    @include center-one-element();

    .users__table {
      width: 100%;

      .mat-header-row {
        background-color: $secondary;

        .mat-header-cell {
          color: black;
        }
      }

      .mat-row {
        background-color: $primary;
      }
    }
  }

  .users__header,
  .users__nav {
    width: 80%;
    padding-top: 10px;
    margin: 0px auto 10px auto;
  }

  .users__nav {
    @include center-one-element(column);

    .nav__link {
      display: inline-block;
      margin-bottom: 10px;
    }
  }

  @include break(map-get($breakpoints, md)) {
    .users__list {
      .users__table {
        width: 60%;

        .table__labels,
        .table__row {
          display: grid;
          grid-template-columns: repeat(4, 25%);
        }
      }
    }
  }
}